<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/reset.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <title>Portfolio AHT-Proyectos</title>
</head>
<body>

    <header>
      <div class="logos">
        <div class="logo-me">
          <a href="../index.html" class="logo">
            <img src="../assets/img/aht/2-recortada.png" class="logo--aht" alt="mi logo">
          </a>
        </div>
      </div>
      <div class="audio">
        <div class="audio-card">
          <audio controls src="../assets/audio/canciones.mp3" class="audio-mp3"></audio>
        </div>
      </div>
      <nav class="links">
        <a href="../index.html" class="nav-link">HOME</a>
        <a href="contact.html" class="nav-link">ABOUT ME</a>
        <a href="proyects.html" class="nav-link">PROYECTS</a>
      </nav>
    </header>

    <main>
      <section class="proyects">
        <h1 class="title-proyect">Mis Proyectos🎓</h1>
        <p class="contenido-text-proyect">Este es el resultado de los proyectos que realicé mediante cursos, mas alla de que soy un principiante, me sirvio la experiencia para aplicar la lógica y el comportamiento de algunos metodos y lenguajes de programación, para posteriormente, poder implementar esos conocimientos en algo mucho mas grande a futuro.⚙</p>
        
        <div class="proyect-paint">
          <h2 class="title2">Proyectos de Dibujos</h2>
          <p class="text-proyect">Estos son varios proyectos en uno, se trata de dibujos realiados mediante JavaScript (JS). Al comenzar definí un cierto numero de pixeles que intentan representar la pantalla donde podria dibujar, luego me movi por el canvas para poder pintar recuadros y circunferencias de distintos colores, efectuando así, realizar el dibujo deseado. Esto me ayudo a conocer distintas funcionalidades que desconocia de JS y para informarme sobre una de las formas para medir una pantalla y poder modificar diferentes tamaños a mi prefencia. Soporte de ayuda: AluraLatam - ONE. CLICK EN LA CAJITA DE ABAJO PARA IR AL REPOSITORIO DEL PROYECTO.👇</p>
        </div>
        <a href="https://github.com/Alejo-Hurtado-Testa/Proyectos_con_Dibujos_Alura" class="ico-proyect1" target="_blank" style="--clr:red">
          <span>repositorio</span><i></i>
        </a>

        <div class="proyect-operation">
          <h2 class="title2">Proyectos de Operaciones</h2>
          <p class="text-proyect">Estos son fragmentos de proyectos como los anteriores, pero a diferencia de que son operaciones matematicas, mi objetivo es poder comprender y aprender la lógica de programación y distintas funcionalidades, como estructuras de control y almacenado de datos mediante listas, definir variables y reutilizarlas mas tarde, etc. Los mismos también están realizados mediante JavaScript. Soporte de ayuda: AluraLatam - ONE. CLICK EN LA CAJITA DE ABAJO PARA IR AL REPOSITORIO DEL PROYECTO.👇</p>
        </div>
        <a href="https://github.com/Alejo-Hurtado-Testa/Proyectos_con_Dibujos_Alura" class="ico-proyect1" target="_blank" style="--clr:red">
          <span>repositorio</span><i></i>
        </a>

        <div class="proyect-firtsweb">
          <h2 class="title2">Proyecto Barberia Alura</h2>
          <p class="text-proyect">A traves de este diseño logro realizar una página web para una barberia separada en 3 subpaginas. Una designada a la página de inicio, luego la página de productos, y por último, la de contacto. En el comienzo, relata acerca de la barberia y de donde proviene. En la de productos, hace una muestra sobre la oferta que tiene el local, haciendo click a uno de sus trabajos, te redirige a la página de contacto, y a su vez, esta última muestra un formulario para completar, ya sea destinado a contactarse o sacar un turno. Soporte de ayuda: AluraLatam - ONE. CLICK EN LA CAJITA DE ABAJO PARA IR AL REPOSITORIO DEL PROYECTO.👇</p>
        </div>
        <a href="https://github.com/Alejo-Hurtado-Testa/Proyectos_con_Dibujos_Alura" class="ico-proyect1" target="_blank" style="--clr:red">
          <span>repositorio</span><i></i>
        </a>

        <div class="proyect-pharmacy">
          <h2 class="title2">Proyecto Farmacia Buona Vita</h2>
          <p class="text-proyect">En este boceto trato de resolver una problematica a una farmacia, su conflicto trataba de que tenian en sus manos una lista de clientes y necesitaban filtrarlos de acuerdo a ciertas reglas que ponía el usuario. Si un cliente no se encontraba en dicha lista, tendrían que agregarlo, como pauta, necesitaba cumplir ciertas reglas. Ademas, se añaden nuevos clientes mediante un archivo externo, en este caso, la extencion era ".JSON" y tener la vision de los nuevos clientes en el cuadro juntos a los otros. Al depurar clientes, se elimina la fila y su contenido. Al incorporar uno nuevo, se coloca una nueva fila de acuerdo a las caracteristicas que tenían las anteriores mediante la creación de nuevas clases con JavaScript. Este es un proyecto trabajado solo en la parte de JS con conocimientos previos, la parte de front-end, ya estaba realizada. Soporte de ayuda: AluraLatam - ONE. CLICK EN LA CAJITA DE ABAJO PARA IR AL REPOSITORIO DEL PROYECTO.👇</p>
        </div>
        <a href="https://github.com/Alejo-Hurtado-Testa/Proyectos_con_Dibujos_Alura" class="ico-proyect1" target="_blank" style="--clr:red">
          <span>repositorio</span><i></i>
        </a>
      </section>
    </main>
</body>
</html>